* {
	margin: 0;
	padding: 0;

	background-color: #11111A;
	color: white;
	font-family: sans-serif;
}

li {
	font-size: 16pt;
}

ul {
	margin-top: 20px;
	margin-left: 40px;
}

#main {
	margin-left: 50px;
	margin-top: 50px;
}