* {
    background-color: #111111;
    color: #EEFFFF;
}

#main {
	text-align: center;
	margin: auto;
	margin-top: 20vh;
}

h1 {
	font-weight: bold;
	font-family: 'Papyrus';
}

#result {
	font-size: 20pt;
	font-family: 'Comic Sans MS';
}